extends layout

block mainDisplay
  article#nutrientTable
    h3(class='nutrientResultsTitle') Results for 
      i "#{nutrientName}", 100g
    table
      thead
        tr
          th(class='nutrientName') Name
          th(class='nutrientServing') Serving
          th(class='nutrientValue') Value of Nutrient
          th(class='nutrientDV') %DV
      tbody    
        each item in items
          tr
            td(class='nutrientName') 
              a(href='/item/' + item.ndbno) #{item.name}
            td(class='nutrientServing') #{item.measure} 
            td(class='nutrientValue') #{Math.floor(item.nutrients[0].value)} #{item.nutrients[0].unit}
            td(class='nutrientDV') #{getDailyValues(item.nutrients[0])}
