extends searchLayout

block content
  if error
    h2(class='searchResultsHeader') No results for 
      i "#{searchTerm}".
  else
    article#searchResults
      h2(class='searchResultsHeader') Results for 
        i "#{searchTerm}".
      ul#searchResultsList
        each count, name in categories
          li 
            h4 
              a(href=`/category/${name}` target='_self') #{name} (#{count})

